<%= render 'layouts/topnav' %>
<h2 class='title_text'>Edit Entry:</h2>

<%= form_for :entry, url: entry_path(@entry), method: :patch do |f| %>
	
	<div class="form_text">
		<span><%= f.label :reaction_number %></span>:
		<%= f.text_field :reaction_number %>
	</div></br>

	<div class="form_text">
		<span><%= f.label :reaction_time %></span>:
		<%= f.text_field :reaction_time %>
	</div></br>

	<div class="form_text">
		<span><%= f.label :procedure %></span>:
		<%= f.text_field :procedure %>
	</div></br>

	<div class="form_text">
		<%= f.submit %>
	</div>
<% end %>