<%= render 'layouts/topnav' %>

<h2>Reagent Library:</h2>

<div class='grid_frame'>

<% @reagents.each do |reagent| %>
	<div class='index_block'>
		
		<h3 class='title_text'>Reagent Name:</h3></br>
			<p class='title_text'><%= reagent.name %></p></br>
		<h4 class='title_text'>CAS Number:</h4></br>
			<p class='title_text'><%= reagent.cas_num %></p></br>
		<h4 class='title_text'>Molecular Weight:</h4></br>
			<p class='title_text'><%= reagent.mol_weight %></p></br>
		<h4 class='title_text'>Phase:</h4></br>
			<p class='title_text'><%= reagent.phase %></p></br>
		<h4 class='title_text'>Density:</h4></br>
			<p class='title_text'><%= reagent.density %></p></br>
		<p class='title_text'><%= link_to 'View', reagent_path(reagent) %></p>

		<p class='title_text'><%= link_to 'Edit', edit_reagent_path(reagent) %>
		</p>

		<p class='title_text'><%= link_to 'Delete', reagent_path(reagent),
			method: :delete,
			data: { confirm: 'Are you sure that you want to delete this reagent?' } %></p>
	</div>
<% end %>

</div>